<div class="login-form" style="display: {{ visibility }};">
    <p class="from-text">Пожалуйста используйте данную форму для входа:</p>
    <form action="" method="post">
        {{ data.as_p }}
        {% csrf_token %}
        <input type="submit" value="Log-in">
    </form>
</div>        
<div class="data-choose-area" style="display: {{ visibility1 }};">
    {% include 'main/chooseProject.html' %}
</div>
<div class="data-set-area" style="display: {{ visibility1 }};">
    {% include 'main/projects1.html' %}
    {% include 'main/users.html' %}
</div>
<div class="data-users-area" style="display: {{ visibility1 }};">
    {% include 'main/usersList.html' %}
    {% include 'main/controlField.html' %}
</div>