<fieldset class="flex-fieldset">
    <legend>Контрольная панель</legend>
    <input class="db-new new-project" id="new-link" name="link" placeholder="ID проекта" type="text" disabled>
    <input class="db-new new-project" id="new-title" name="title" placeholder="Название проекта" type="text" disabled>
    <select class="db-new cp-select" id="gizmo" placeholder="Выберите ответственного">
        <option value="">Выберите ответственного</option>
        <option value="sokolinskaya">sokolinskaya</option>
        <option value="korenev">korenev</option>
    </select>
    <div class="select-prog"><p>Выберете ответственного</p></div>
    <div class="button-user cp-button" id="new-project"><p>Завести проект</p></div>
</fieldset>