{% load static %}
<fieldset>
    <legend>Пользователи</legend>
    <input class="db" autocomplete="off" role="combobox" list="" id="user-name" name="link" placeholder="Выберите имя" >
    <datalist class="db-datalist" id="user-name-data" role="listbox">
        {% if users %}
            {% for el in users %}
                <option value="{{ el.name }}">{{ el.name }}</option>
            {% endfor %}
        {% endif %}
    </datalist>
    <input class="db" autocomplete="off" role="combobox" list="" id="user-login" name="title" placeholder="Выберите логин">
    <datalist class="db-datalist" id="user-login-data" role="listbox">
        {% if users %}
            {% for el in users %}
                <option value="{{ el.email }}">{{ el.email }}</option>
            {% endfor %}
        {% endif %}
    </datalist>
    <div class="button-user" id="addUSer"><p>Добавить прользователя</p></div>
</fieldset>
